@charset "UTF-8";

div {
    color: red;
    font-size: 2em;
    background-color: #000;
    /* 不透明度(css3) */
    opacity: 0.49; /* 0~1 */
    border: 5px solid #098;
    /* 阴影(css3): 水平阴影 垂直阴影 [模糊距离] [阴影延伸距离] [阴影颜色] [将外部阴影变成内部阴影] */
    box-shadow: -0px 10px 10px 5px #626 inset;
    text-shadow: 3px 2px 3px red;
    /* 轮廓,元素外面画一条线,不一定是矩形的,简写方式和border类似 */
    outline: 6px double #aa0;
}
span {
    outline: 2px solid #619;
    /* 光标样式 */
    cursor: pointer;
    cursor: move;
}
